/junit-tutorial/.settings/org.eclipse.core.resources.prefs
/junit-tutorial/.settings/org.eclipse.jdt.core.prefs
/junit-tutorial/bin/junit/tutorial/Calculator.class
/junit-tutorial/bin/junit/tutorial/CalculatorTest.class
